<ion-card>
  <ion-item>
    <ion-avatar aria-hidden="true" slot="start">
      <img alt="" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
    </ion-avatar>
    <ion-label>tanoo_VL</ion-label>
    <ion-button shape="round" fill="clear"
      style="display: flex; align-items: center; justify-content: center; padding: 10px;">
      <ion-icon name="ellipsis-horizontal" style="font-size: 15px; color: white;"></ion-icon>
    </ion-button>
  </ion-item>
  <img alt="Silhouette of mountains" src="../../../assets/icon/235.jpg" />
  <ion-card-header>
    <ion-grid>
      <ion-row class="post-actions" style="display: flex; justify-content: space-between; align-items: center;">
        <ion-col size="auto">
          <ion-button fill="clear" style="display: flex; align-items: center;">
            <ion-icon name="heart-outline"></ion-icon>
            <p> 18</p>
          </ion-button>
        </ion-col>
        <ion-col size="auto">
          <ion-button fill="clear" style="display: flex; align-items: center;" (click)="abrirComentarios()">
            <ion-icon name="chatbubble-outline"></ion-icon>
            <p> 6 </p>
          </ion-button>
        </ion-col>
        <ion-col size="auto">
          <ion-button fill="clear" style="display: flex; align-items: center;">
            <ion-icon name="paper-plane-outline"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size="auto" style="text-align: right;">
          <ion-button fill="clear">
            <ion-icon name="bookmark-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-item>
      <ion-label>
        <h3>17.636 Me gusta</h3>
        <p>Aqui feliz con el amor de mi vida te amo mucho mi amor </p>
        <p (click)="abrirComentarios()" style="cursor: pointer;">Ver los 47 comentarios</p>
        <p (click)="abrirComentarios()" style="cursor: pointer;">Agregar un comentario...</p>
      </ion-label>
    </ion-item>
  </ion-card-header>

  <ion-card-content>
    Hace 7 días
  </ion-card-content>
</ion-card>

<!-- Añade esto al final de tu template, fuera del ion-card -->
<app-comentarios *ngIf="mostrarComentarios" [postId]="1" (close)  ="cerrarComentarios()"></app-comentarios>