
<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="search">
      <app-search></app-search>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="grid-container">
    <div class="grid-item" *ngFor="let item of mediaItems">
      <div class="media-wrapper">
        <img *ngIf="item.type === 'image'" [src]="item.src" alt="media content">
        <div *ngIf="item.type === 'video'" class="video-item">
          <img [src]="item.thumbnail" alt="video thumbnail">
          <ion-icon name="play-circle-outline" class="video-icon"></ion-icon>
        </div>
        <div *ngIf="item.caption" class="caption">{{ item.caption }}</div>
      </div>
    </div>
  </div>
</ion-content>