<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Ucciono</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="heart-outline"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="chatbubble-ellipses-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <app-layout>
    <ion-list>
      <app-historia-users></app-historia-users>
      <app-card-post></app-card-post>
      <app-card-post></app-card-post>
      <app-card-post></app-card-post>
      <app-card-post></app-card-post>
      <app-card-post></app-card-post>
      <app-card-post></app-card-post>
      <app-card-post></app-card-post>
    </ion-list>
  </app-layout>
</ion-content>
